<!-- 自定义页脚片段开始 -->

<a href="/sitemap/">Sitemap</a>

<!-- 支持 MathJax -->
<script defer src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>
<script defer src="{{ base_path }}/assets/js/code-enhance.js?v=3"></script>

<!-- 支持 Mermaid -->
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    mermaid.initialize({startOnLoad:true, theme:'default'});
    await mermaid.run({querySelector:'code.language-mermaid'});
</script>

<!-- 自定义页脚片段结束 -->
