{% include base_path %}

<!-- 自定义 head 片段开始 -->

<!-- 支持 Academicons 图标 -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>
<link rel="stylesheet" href="{{ base_path }}/assets/css/code-enhance.css?v=2"/>

{% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
<link rel="stylesheet" href="{{ stylesheet | prepend: base_path }}"/>
  {% endfor %}
{% endif %}

<!-- favicon 来源：https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- 自定义 head 片段结束 -->
